<form action="" class="needs-validation my-4" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <input type="hidden" name="election_id" value="{{election.id}}">

    <div class="form-group mt-3">
        <label for="name">Name <span class="text text-danger">*</span></label>
        <input class="form-control" placeholder="E.g. TASHTECH 2018/19 GEN. ELECTION" value="{{election.name}}"
            type="text" name="name" id="name" required>
        <div class="invalid-feedback">
            Please this field is required.
        </div>
    </div>
    <div class="form-group mt-3">
        <label for="description">Description <span class="text text-danger">*</span></label>
        <textarea name="description" id="description" class="form-control" cols="30"
            rows="6">{{election.description}}</textarea>
        <div class="invalid-feedback">
            Please this field is required.
        </div>
    </div>
    <div class="form-group mt-3">
        <label for="name">Date of Election <span class="text text-danger">*</span></label> <br>
        {% if election.date_of_election %}
        <small>Current Date: <span class="text-primary">{{election.date_of_election}}</span></small>
        {% endif %}
        <input class="form-control" value="{{election.date_of_election}}" type="datetime-local" name="date_of_election"
            id="date_of_election" {% if not election.date_of_election %} required {% endif %}>
        <div class="invalid-feedback">
            Please this field is required.
        </div>
    </div>


    <div class="form-group my-3">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>