{% extends 'backend/base.html' %}
{% load humanize %}

{% block active_item %}dashboard{% endblock %}
{% block page_title %}Dashboard{% endblock %}

{% block content %}
<div class="breadcrumb">
    <a href="{% url 'backend:backend' %}">Dashboard</a>
    <a class="active"><i class="bi bi-chevron-right"></i>Dashboard</a>
</div>

<div class="p-3 row-col-12">
    <h4 class="page-header"><i class="bi bi-sliders me-2"></i> Dashboard</h4>
    <p>Backend Dashboard of your Flight Booking App.</p>

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <a href="" class="btn btn-sm btn-primary text-white"> <i class="bi bi-save"></i> Download Statistics <i
                        class="badge" style="background-color: green;">Soon</i></a>
                <div class="card mb-2 mt-1">
                    <div class="card-body my-auto py-auto">
                        <div class="row">
                            <div class="col-6">
                                <h5 class="text-primary"><b>Agency</b></h5>
                            </div>
                            <div class="col-6 text-end">
                                {% if request.user.is_staff or request.user.is_superuser %}
                                <h5 class="text-primary"><b>EasyGo Transport Agency</b></h5>
                                <b>Current Balance: GH₵{{wallet_balance|floatformat:2}} </b>
                                {% else %}
                                <h5 class="text-primary"><b>{{request.user.agency.name|upper}}</b></h5>
                                <b>Current Balance: GH₵{{wallet_balance|floatformat:2}} </b>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- row -->
        <div class="row">
            <!-- col -->
            <div class="col-lg-6">
                <div class="card mb-2">
                    <div class="card-body my-auto py-auto">
                        <div class="row">
                            <div class="col-6">
                                <p class="text-primary"><b>Total Users</b></p>
                            </div>
                            <div class="col-6 text-end">
                                <p class="text-primary"><b>{{total_users}}</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- col -->
            <div class="col-lg-6">
                <div class="card mb-2">
                    <div class="card-body my-auto py-auto">
                        <div class="row">
                            <div class="col-6">
                                <p class="text-primary"><b>Total Agencies</b></p>
                            </div>
                            <div class="col-6 text-end">
                                <p class="text-primary"><b>{{agencies}}</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row">
            <!-- col -->
            <div class="col-lg-6">
                <div class="card mb-2">
                    <div class="card-body my-auto py-auto">
                        <div class="row">
                            <div class="col-6">
                                <p class="text-primary"><b>Total Vehicles</b></p>
                            </div>
                            <div class="col-6 text-end">
                                <p class="text-primary"><b>{{vehicles}}</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- col -->
            <div class="col-lg-6">
                <div class="card mb-2">
                    <div class="card-body my-auto py-auto">
                        <div class="row">
                            <div class="col-6">
                                <p class="text-primary"><b>Total Seats</b></p>
                            </div>
                            <div class="col-6 text-end">
                                <p class="text-primary"><b>{{seats}}</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row">
            <!-- col -->
            <div class="col-lg-6">
                <div class="card mb-2">
                    <div class="card-body my-auto py-auto">
                        <div class="row">
                            <div class="col-6">
                                <p class="text-primary"><b>Total Tickets</b></p>
                            </div>
                            <div class="col-6 text-end">
                                <p class="text-primary"><b>{{tickets}}</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- col -->
            <div class="col-lg-6">
                <div class="card mb-2">
                    <div class="card-body my-auto py-auto">
                        <div class="row">
                            <div class="col-6">
                                <p class="text-primary"><b>Total Transactions</b></p>
                            </div>
                            <div class="col-6 text-end">
                                <p class="text-primary"><b>{{transactions}}</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row">
            <!-- col -->
            <div class="col-lg-6">
                <div class="card mb-2">
                    <div class="card-body my-auto py-auto">
                        <div class="row">
                            <div class="col-6">
                                <p class="text-primary"><b>Total Trips</b></p>
                            </div>
                            <div class="col-6 text-end">
                                <p class="text-primary"><b>{{trips}}</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- col -->
            <div class="col-lg-6">
                <div class="card mb-2">
                    <div class="card-body my-auto py-auto">
                        <div class="row">
                            <div class="col-6">
                                <p class="text-primary"><b>Total Bookings</b></p>
                            </div>
                            <div class="col-6 text-end">
                                <p class="text-primary"><b>{{bookings}}</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card mb-2 mt-1">
                    <div class="card-body my-auto py-auto">
                        <div class="row">
                            <div class="col-6">
                                <p class="text-primary"><b>Total Category</b></p>
                            </div>
                            <div class="col-6 text-end">
                                <p class="text-primary"><b>{{categories}}</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}