{% extends 'backend/base.html' %}

{% block active_item %}Bookings{% endblock %}
{% block page_title %}Bookings{% endblock %}


{% block content %}
<div class="breadcrumb">
    <a href="{% url 'backend:backend' %}">Dashboard</a>
    <a class="active"><i class="bi bi-chevron-right"></i> Bookings</a>
</div>


<div class="p-3">
    <h4 class="page-header"><i class="bi bi-sliders me-2"></i> Bookings</h4>
    <div class="row">
        <section class="col-md-12 mt-3">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <h5 class="card-title"><span>All Bookings</span></h5>
                    <div class="actions">
                        <a href="" class="btn btn-sm btn-primary text-white"><i class="bi bi-plus"></i> Add
                            Booking <span class="badge" style="background-color: green;">Soon</span></a>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-sm data-table col-12" id="Bookings" style="min-width: 60em;">
                        <caption>List of Bookings</caption>
                        <thead>
                            <tr>
                                <th>#.</th>
                                <th>User</th>
                                <th>Source</th>
                                <th>Destination</th>
                                <th>Vehicle</th>
                                <th>Seat</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if bookings %}
                            {% for booking in bookings %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{booking.user.email}}</td>
                                <td>{{booking.trip.source}}</td>
                                <td>{{booking.trip.destination}}</td>
                                <td>{{booking.trip.vehicle.name}}</td>
                                <td>{{booking.get_seat_numbers}}</td>
                                <td>{{booking.date_created|date:"d M Y"}}</td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="8" class="text-center">No Bookings Found</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

    </div>
</div>




{% endblock %}