{% extends 'backend/base.html' %}

{% block active_item %}positions{% endblock %}
{% block page_title %}Positions{% endblock %}


{% block content %}
<div class="breadcrumb">
    <a href="{% url 'backend:index' %}">Dashboard</a>
    <a class="active"><i class="bi bi-chevron-right"></i> Positions</a>
</div>


<div class="p-3">
    <h4 class="page-header"><i class="bi bi-sliders me-2"></i> Positions</h4>
    <div class="row">
        <section class="col-md-12 mt-3">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <h5 class="card-title"><span>All Positions</span></h5>
                    <div class="actions">
                        <a href="{% url 'backend:create_update_position' %}"
                            class="btn btn-sm btn-primary text-white"><i class="bi bi-plus"></i> Add
                            Position</a>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-sm data-table col-12" id="Positions" style="min-width: 60em;">
                        <caption>List of Positions</caption>
                        <thead>
                            <tr>
                                <th>Position No.</th>
                                <th>Name</th>
                                <th>Candidates</th>
                                <th>Votes Cast</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if positions %}
                            {% for position in positions %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{position.name|upper}}</td>
                                <td>{{position.get_candidates}}</td>
                                <td>{{position.get_votes_cast}}</td>
                                <td class="text text-center d-flex">
                                    <a href="{% url 'backend:create_update_position' %}?position_id={{position.id}}"
                                        class="px-2">
                                        <button class="btn btn-sm btn-primary">
                                            <i class="bi bi-pencil"></i>
                                            Edit
                                        </button>
                                    </a>

                                    <form action="{% url 'backend:delete_position' %}" method="POST"
                                        class="requires-confirmation"
                                        data-message="Click on okay to permanently delete this position.">
                                        <input type="hidden" name="position_id" value="{{position.id}}">
                                        {% csrf_token %}
                                        <button class="btn btn-sm btn-danger">
                                            <i class="bi bi-trash"></i>
                                            Delete
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>No Positions Found</tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

    </div>
</div>




{% endblock %}