{% extends 'backend/base.html' %}

{% block active_item %}seats{% endblock %}
{% block page_title %}Seats{% endblock %}


{% block content %}
<div class="breadcrumb">
    <a href="{% url 'backend:backend' %}">Dashboard</a>
    <a class="active"><i class="bi bi-chevron-right"></i> Seats</a>
</div>

<div class="p-3">
    <h4 class="page-header"><i class="bi bi-sliders me-2"></i> Seats</h4>
    <div class="row">
        <section class="col-md-12 mt-3">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <h5 class="card-title"><span>All Seats</span></h5>
                    <div class="actions">
                        <a href="{% url 'backend:create_update_seat' %}" class="btn btn-sm btn-primary text-white"><i
                                class="bi bi-plus"></i> Add
                            Seat</a>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-sm data-table col-12" id="Seats" style="min-width: 60em;">
                        <caption>List of Seats</caption>
                        <thead>
                            <tr>
                                <th>#.</th>
                                <th>Agency</th>
                                <th>Vehicle</th>
                                <th>Category</th>
                                <th>Seat Number</th>
                                <th>Is Booked</th>
                                <th>Date Created</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if seats %}
                            {% for seat in seats %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{seat.vehicle.agency.name}}</td>
                                <td>{{seat.vehicle.name}}</td>
                                <td>{{seat.vehicle.category.name}}</td>
                                <td>{{seat.seat_num}}</td>
                                <td>{{seat.is_booked}}</td>
                                <td>{{seat.date_created|date:"d M Y"}}</td>
                                <td class="text text-center d-flex">
                                    <a href="{% url 'backend:create_update_seat' %}?seat_id={{seat.id}}" class="px-2">
                                        <button class="btn btn-sm btn-primary">
                                            <i class="bi bi-pencil"></i>
                                            Edit
                                        </button>
                                    </a>

                                    <form action="{% url 'backend:delete_seat' %}" method="POST"
                                        class="requires-confirmation"
                                        data-message="Click on okay to permanently delete this seat.">
                                        <input type="hidden" name="seat_id" value="{{seat.id}}">
                                        {% csrf_token %}
                                        <button class="btn btn-sm btn-danger">
                                            <i class="bi bi-trash"></i>
                                            Delete
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="8" class="text-center">No Seats Found</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

    </div>
</div>




{% endblock %}