{% extends 'backend/base.html' %}

{% block active_item %}users{% endblock %}
{% block page_title %}Users{% endblock %}


{% block content %}
<div class="breadcrumb">
    <a href="{% url 'backend:backend' %}">Dashboard</a>
    <a class="active"><i class="bi bi-chevron-right"></i> Users</a>
</div>


<div class="p-3">
    <h4 class="page-header"><i class="bi bi-sliders me-2"></i> Users</h4>
    <div class="row">
        <section class="col-md-12 mt-3">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <h5 class="card-title"><span>All Users</span></h5>
                </div>
                <div class="card-body">
                    <table class="table table-sm data-table col-12" id="users" style="min-width: 60em;">
                        <caption>List of Users</caption>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Firstname</th>
                                <th>Lastname</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Is Active</th>
                                <th>Is Staff</th>
                                <th>Agency Admin</th>
                                <th>Agency</th>
                                <th>Date Created</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if users %}
                            {% for user in users %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{user.first_name}}</td>
                                <td>{{user.last_name}}</td>
                                <td>{{user.email}}</td>
                                {% if user.phone %}
                                <td>{{user.phone}}</td>
                                {% else %}
                                <td>N/A</td>
                                {% endif %}
                                <td>{{user.is_active}}</td>
                                <td>{{user.is_staff}}</td>
                                <td>{{user.is_agency_admin}}</td>
                                <td>{{user.agency.name}}</td>
                                <td>{{user.date_joined|date:"d M Y"}}</td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="9" class="text-center">No Users Found</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

    </div>
</div>




{% endblock %}