$primary: #003fac;
$on-primary: white;
$success: rgb(21, 184, 57);
$danger: rgba(216, 31, 31, 0.8);
$primary-light: rgba(32, 60, 108, 0.8);
$black: #000;

$primary-light: rgba(32, 60, 108, 0.8);
$secondary: #b79a64;
$secondary-deep: #ffbf0d;

$black: #000;
$white: #fff;

$sidebar-width: 17em;
$sidebar-collapseed-width: 5em;
$nav-height: 4em;
$overlay-index: 2;
